<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fbw.service.mappers.UserBalanceDetailMapper">
  <resultMap id="BaseResultMap" type="com.fbw.service.entity.user.UserBalanceDetailEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="balance_change" jdbcType="DECIMAL" property="balanceChange" />
    <result column="after_balance_change" jdbcType="DECIMAL" property="afterBalanceChange" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    group_id,balance_change,type,created_at
    from t_user_balance_detail_log
    where user_id = #{param1}
    and DATEDIFF(NOW(), created_at) <![CDATA[ < ]]>90
    order by created_at DESC
    limit #{param2},20
  </select>
  <insert id="insertSelective" parameterType="com.fbw.service.entity.user.UserBalanceDetailEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user_balance_detail_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="balanceChange != null">
        balance_change,
      </if>
      <if test="afterBalanceChange != null">
        after_balance_change,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="balanceChange != null">
        #{balanceChange,jdbcType=DECIMAL},
      </if>
      <if test="afterBalanceChange != null">
        #{afterBalanceChange,jdbcType=DECIMAL},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>