<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fbw.service.mapper.RankFatherBusinEntityMapper">
  <resultMap id="BaseResultMap" type="com.fbw.service.entity.shop.RankFatherBusinEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rank_name" jdbcType="VARCHAR" property="rankName" />
    <result column="rank_back_url" jdbcType="VARCHAR" property="rankBackUrl" />
    <result column="rank_order" jdbcType="INTEGER" property="rankOrder" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="first_class_id" jdbcType="INTEGER" property="firstClassId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <select id="getRankFather" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id,rank_name from t_rank_father_busin where city_id=#{param1} order by rank_order DESC
  </select>
  <select id="getRankByFirstAndCity" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select id,rank_name,rank_back_url from t_rank_father_busin where city_id=#{param1} and first_class_id=#{param2} order by rank_order ASC limit 1
  </select>
</mapper>