<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fbw.service.mapper.ShopFirstClassMapper">
  <resultMap id="BaseResultMap" type="com.fbw.service.entity.shop.ShopFirstClassEntity">
    <result column="id" jdbcType="INTEGER" property="firstClassId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <select id="getShopsFirstClassList"  parameterType = "java.lang.Integer" resultMap="BaseResultMap">
  	SELECT
		t.id,
		t.logo,
		t.name
	FROM
		t_shop_first_class_conf t,t_shop_first_class_busin f
	WHERE
		t.id = f.first_class_id
		AND t.STATUS = 1
		AND f.city_id = #{cityId}
  </select>
</mapper>