<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fbw.service.mapper.InterviewMapper">
  <!-- 探店父类 -->
  <resultMap id="interviewMap" type="com.fbw.service.entity.shop.InterviewParentEntity">
    <id column="id" jdbcType="INTEGER" property="interviewId" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="interview_title" jdbcType="VARCHAR" property="interviewTitle" />
    <result column="interview_theme" jdbcType="VARCHAR" property="interviewTheme" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="browse_num" jdbcType="INTEGER" property="browseNum" />
    <result column="is_top" jdbcType="INTEGER" property="isTop" />
    <result column="interview_content" jdbcType="VARCHAR" property="interviewContent" />
    <result column="eff_date" jdbcType="TIMESTAMP" property="effDate" />
    <result column="exp_date" jdbcType="TIMESTAMP" property="expDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
  </resultMap>
  
  <!-- 探店子类 -->
  <resultMap id="interviewChildMap" type="com.fbw.service.entity.shop.InterviewChildEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="interview_id" jdbcType="INTEGER" property="interviewId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
  </resultMap>
  <select id="getInterviewParentAll" resultMap = "interviewMap">
  	select id,browse_num from t_shop_interview_parent where status = 1
  </select>
  <update id="updateInterviewBrowseNum" parameterType= "com.fbw.service.entity.shop.InterviewParentEntity">
  	update t_shop_interview_parent
  	set browse_num = #{browseNum}
  	where id = #{interviewId}
  </update>
  
</mapper>